acklog.txt
ackerr.txt
Game/config.h

config.h

*.bak
*.raw
*.wed
*.blend?

# Levelfiles
*.$$M
*.$$p
*.$$w
shot_*.jpg
*.log

# Felix komischer Qt-Stuff
*.pro
*.pro.user
*.autosave
lottervstheworld2.cd
/Game/.vscode
/Game/.vscode
